<!DOCTYPE html>
<html>
<head>
    <title>User <%= user.nom %> secrets list</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <ul>
    <% if(secrets.length === 0) { %>
        No secrets found for that user.
    <% } else { %>
        <ul>
            <% secrets.forEach(secret => { %>
                <li> <%= secret.description %>  </li>
            <% }) %>
        </ul>
    <% } %>
    </ul>
</body>
</html>
