<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/users"><button>See users</button></a>

    <% if (connected) {  %>
      <a href="/users/deconnexion"><button>Se déconnecter</button></a>
    <% } %>
  </body>
</html>
