<%- body %>
<nav>
    <input type="button" value="Revenir à l'acceuil" onClick="javascript:document.location.href='/'" />
    <form method="POST" action="/logout">
        <button type="submit">Déconnexion</button>
    </form>
   
</nav>