<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
      <h1 class="title">Users</h1>
      <% if(users.length === 0) {%>
        No users in system yet.
      <% } else { %>
          <ul>
              <% users.forEach(user => { %>
                  <li>
                      <%= user.nom %><% if(user.pseudo) {%> (<%= user.pseudo %>) <% } %>
                      <button onclick = "deleteAuthorById(<%= user.id %>)" %> > Delete </button>
                  </li>
              <% }) %>
          </ul>
      <% } %>
      <a href="/users/new"><button>Create new user</button></a>
  </body>
</html>
<script>
  function deleteAuthorById (userId) {
    console.log(userId);
    fetch(`/users/${userId}`, { method: 'DELETE' })
    .then(() => {
            document.location.reload(true);
        })
  }
  </script> 