<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title">Users</h1>
      <% if(users.length === 0) {%>
        No users in system yet.
      <% } else { %>
          <ul class="users-info">
              <% users.forEach(user => { %>
                  <li class="user-info">
                  <button class='fa' onclick="deleteUser('<%= user.id %>')"><i class="fas fa-times"></i></button>
                  <%= user.name %> ( <%= user.email %> )
                  </li>
              <% }) %>
          </ul>
      <% } %>
      <a href="/users/new"><button>Create new</button></a>
      <script>
        function deleteUser(userId) {
          fetch(`/users/${userId}`, { method: 'DELETE' })
          .then(() => {
              window.location.reload()
          })
          .catch(() => {})
        }
      </script>
  </body>
</html>
