<title>New User</title>
<h1>Page de création de user</h1>

<form method="POST" action="/users/new">
    <p>Firstname : <input type="text" name="firstname"></p>
    <p>Lastname : <input type="text" name="lastname"></p>
    <p>email : <input type="text" name="email"></p>
    <p><button type="submit">Créer un User</button></p>
</form>