<!DOCTYPE html>
<html>
<head>
    <title>User <%= user.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">User n°<%= user.id %></h1>
<ul>
    <li> Nom: <%= user.name %>  </li>
    <li> Pseudo: <%= user.pseudo %>  </li>
</ul>

</body>
</html>
