<!DOCTYPE html>
<html>
<head>
    <title>Utilisateur <%= user.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<h1 class="title">user n°<%= user.id %></h1>
	<ul>
	    <li> Nom utilisateur: <%= user.name %>  </li>
	    <li>Email: <%= user.email %></li>
	</ul>
</body>
</html>
